<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OIDCProvider</key>
	<string>Azure</string>
	<key>OIDCNewPassword</key>
	<true/>
	<key>CreateAdminUser</key>
	<true/>
	<key>Migrate</key>
	<true/>
	<key>OIDCNewPassword</key>
    <true/>
	<key>OIDCRedirectURI</key>
	<string>https://127.0.0.1/jamfconnect</string>
	<key>OIDCClientID</key>
	<string>####a4dd-####-47ac-####-01601d3b####</string>
	<key>OIDCROPGID</key>
	<string>####a4dd-####-47ac-####-01601d3b####</string>
</dict>
</plist>
